@() @main("Welcome to Play") {
<div id="wrapper">
	<div class="join">Join Today</div>
	<div class="lock"></div>
		<div class="clr"></div>
			<div class="login-options">Choose on of the following sign up methods.</div>
			<a class="facebook" href="#">Facebook</a>
			<a class="google" href="#">Google+</a>
		<div class="clr">
	<hr />
	</div>
	<div class="mail-text">Or sign in using your email address.</div>
	<div class="forms">
		<form action="" method="get" name="register">
			<input id="email" type="text" size="50" onClick="border: 1px solid #30a8da;" />
			<input id="password" type="password" size="50" onClick="border: 1px solid #30a8da;" />
		</form>
	</div>
	<a class="create-acc" href="/management">Sign In  </a>
	
	<div class="sign-up"><a href="/register">Sign Up</a></div>
</div>

<div class="footer">Copyright by Framgia</div>

}
