@(loginForm: Form[Login])
@import helper._

@main("Sign in") {
	@helper.form(routes.LoginController.authenticate()) {
        @CSRF.formField
		<div id="wrapper">
			<div class="join">Join Today</div>
			<div class="lock"></div>
			<div class="clr"></div>
			<div class="login-options">Choose on of the following sign up methods.</div>
			<a class="facebook" href="#">Facebook</a>
			<a class="google" href="#">Google+</a>
			<div class="clr"><hr /></div>
			<div class="mail-text">Or sign in using your email address.</div>

			<div class="forms">
				@helper.inputText(loginForm("email"), '_label -> "", 'size -> "50", '_showConstraints -> false)
				@helper.inputPassword(loginForm("password"), '_label -> "", 'size -> "50", '_showConstraints -> false)
				@if(flash.containsKey("error")){
					<div><span>@flash.get("error")</span></div>
				}
				<input class="create-acc" id="submit" type="submit" value = "Sign In" />
			</div>
			<div class="sign-up"><a href="/register">Sign Up</a></div>
		</div>

		<div class="footer">Copyright by Framgia</div>
	}
}
