@(registerForm: Form[SUser])
@import helper._

@main("Register") {

@helper.form(CSRF(routes.UserController.register())) {
	<div id="signup_wrapper">
		<div class="join">Sign up</div>
		<div class="lock"></div>
		<div class="clr"></div>
		<div class="login-options">You need to fill out this form.</div>
		<div class="clr">
		@if(flash.containsKey("error")) {
            <span style="color: red">@flash.get("error")</span>
		}
		</div>
		<div class="forms">
			<table>
				<tr>
					<td><span class="login-options">Full Name:</span></td>
					<td>@helper.inputText(registerForm("name"), '_label -> "", 'size -> "30", '_showConstraints -> false)</td>
				</tr>
				<tr>
					<td><span class="login-options">Email:</span></td>
					<td>@helper.inputText(registerForm("email"), '_label -> "", 'size -> "30", '_showConstraints -> false)</td>
				</tr>
				<tr>
					<td><span class="login-options">Password:</span></td>
					<td>@helper.inputPassword(registerForm("password"), '_label -> "", 'size -> "30", '_showConstraints -> false)</td>
				</tr>
				<tr>
					<td><span class="login-options">Confirm Password:</span></td>
					<td><input id="confirmPassword" name="confirmPassword" type="password" size = "30" onClick="border: 1px solid #30a8da;" /></td>
				</tr>
				<tr>
					<td><span class="login-options">Phone Number:</span></td>
					<td>@helper.inputText(registerForm("mobile"), '_label -> "", 'size -> "30", '_showConstraints -> false)</td>
				</tr>
				<tr>
					<td><span class="login-options">Gender:</span></td>
					<td height="40px">
					@select(
						field = registerForm("gender"),
						options = Seq(
							"1" -> "Male",
							"2" -> "Female"
						),
						'_label -> "",
						'_default -> "Choose One"
					)
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input id="submit" type="submit" value = "Register" /></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="footer">Copyright by Framgia</div>
}
}
