@() @main("Welcome to Play") {

<div id="signup_wrapper">
	<div class="join">Sign up</div>
	<div class="lock"></div>
	<div class="clr"></div>
	<div class="login-options">You need to fill out this form.</div>
	<div class="clr"></div>
	<div class="forms">
		<form action="" method="get">
			<table>
				<tr>
					<td><span class="login-options">Full Name:</span></td>
					<td><input id="name" type="text" size="30" onClick="border: 1px solid #30a8da;" /></td>
				</tr>
				<tr>
					<td><span class="login-options">Email Address:</span></td>
					<td><input id="email" type="text" size="30" onClick="border: 1px solid #30a8da;" /></td>
				</tr>
				<tr>
					<td><span class="login-options">Password:</span></td>
					<td><input id="password" type="password" size="30" onClick="border: 1px solid #30a8da;" /></td>
				</tr>
				<tr>
					<td><span class="login-options">Confirm Password:</span></td>
					<td><input id="confirmPassword" type="password" size="30" onClick="border: 1px solid #30a8da;" /></td>
				</tr>
				<tr>
					<td><span class="login-options">Phone Number:</span></td>
					<td><input id="mobile" type="text" size="30" onClick="border: 1px solid #30a8da;" /></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input id="submit" type="submit" value = "Register" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div class="footer">Copyright by Framgia</div>

}
